---
import Base from "../../layouts/BaseLayout.astro";
import PostList from "../../components/PostList.astro";
---
<Base title="Articles · Reuben Ingber">
  <h1 class="text-4xl font-bold mb-12 text-primary tracking-wide">ARTICLES</h1>
  <PostList />
</Base>
