---
import Base from "../../layouts/BaseLayout.astro";
import PostList from "../../components/PostList.astro";
---
<Base 
  title="Articles by Reuben Ingber: Fatherhood, Engineering, Running, Life" 
  description="Read Reuben Ingber's articles on parenting, engineering management, running, books, and life lessons. Personal stories and insights from Queens, NY."
>
  <h1 class="text-4xl font-bold mb-12 text-primary tracking-wide">ARTICLES</h1>
  <PostList />
</Base>
