---
import Base from "../layouts/BaseLayout.astro";
---
<Base title="Start Here · Reuben Ingber">
  <h1 class="text-3xl font-bold mb-4">Start Here</h1>
  <p class="leading-relaxed max-w-prose m-2">
    Hi, I'm Reuben Ingber! Thanks for wanting to read more about me. 
  </p>

  <h2 class="text-2xl font-bold mb-4">Personal Life</h2>
  <p class="leading-relaxed max-w-prose m-2">
    I am a father of two living in Queens, NY. My newest hobby is photography and I shoot on a Sony A6000 with either a Sony 35mm f/1.8 or a Sigma 18-50mm f/2.8 lens. While I grew up being consistently picked last in gym class, I've been a runner for the past 13 years, completing several marathons and a Half Ironman in 2018. My favorite distance is the half marathon. 
    
    Today I mostly love to play with my two kids (6 and 20months) and take photos of them. I keep a journal and read almost every day.
  </p>

  <h2 class="text-2xl font-bold mb-4">Career</h2>
  <p class="leading-relaxed max-w-prose m-2">
    I started my career working in politics and activism after college. Then after moving back to New York City in 2010, I transitioned into tech. I spent several years as a software engineer at a Web Development Agency before moving in-house to Business Insider more than 10 years ago. Since joining Business Insider, I've worked as a software engineer, tech lead, and now an Engineering Manager. I love working with a team of Engineers to help them navigate technical challenges, grow in their careers, and deliver high quality products.
  </p>

  <h2 class="text-2xl font-bold mb-4">More About Me</h2>
  <p class="leading-relaxed max-w-prose m-2">
    Connect with me across the web:
  </p>
    <ul class="leading-relaxed max-w-prose m-2 list-none">
      <li>Instagram - @ReubenIngber / @Reuben_In_Color</li>
      <li>LinkedIn - /in/reuben-ingber</li>
      <li>Twitter - @ReubenIngber</li>
    </ul>
  </p>
</Base>
