---
import { getCollection } from 'astro:content';
const posts = (await getCollection('posts')).filter(p => !p.data.draft).sort((a,b) => b.data.pubDate.getTime() - a.data.pubDate.getTime());
---
<ul class="space-y-6">
  {posts.map(p => (
    <li>
      <a class="no-underline" href={`/blog/${p.slug}/`}>
        <h3 class="text-lg font-semibold hover:text-accent">{p.data.title}</h3>
        <time datetime={p.data.pubDate.toISOString()}>{p.data.pubDate.toDateString()}</time>
      </a>
    </li>
  ))}
</ul>
